*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: start;
}

.item {
    height: 50px;
    width: 100px;
    border: 1px solid white;
    color: white;
    background-color: darkblue;
    font-size: 20px;
}


