* {
    margin: 0;
    padding: 0;
}
.container {
  width: 50%;
  height: 90vh;
  border: 5px solid rgb(250, 115, 115);
  font-size: 20px;
}
p{
    color: red;
    background-color: yellow;
    font-weight: 700;
}

.sticky {
    position: sticky;
    top: 20px;
}

.relative {
    position: relative;

}

.absolute {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.fixed {
    position: fixed;
    right: 20px;
    bottom: 20px;
}